<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ict.project_with_a_jump">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GPS를 통한 전자출입명부"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_with_a_jump"
        android:usesCleartextTraffic="true">
        <activity android:name=".ResetActivity"></activity>
        <activity android:name=".InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".CertifyActivity" />
        <activity android:name=".ReCertiftActivity" />
        <activity android:name=".EntryActivity" />
        <activity android:name=".EntryActivity2" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".HomeDefault"
            android:screenOrientation="portrait" />
        <activity android:name=".Loading" />
        <activity android:name=".RegisterActivity5" />
        <activity android:name=".RegisterActivity4" />
        <activity android:name=".RegisterActivity3" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ChangePwdDialog"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".PeriodDialog"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ChangeOfficeHour"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".PersonalInfo"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FragmentGraph2"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FragmentGraph1"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".History"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>
    </application>

</manifest>